@charset "UTF-8";


body{background: #f3f3f3;}

*::-webkit-scrollbar {
     width: 5px;
   }
*::-webkit-scrollbar-thumb {
     background-color: rgb(21, 51, 105);
     border-radius: 10px;
   }
*::-webkit-scrollbar-track {
     background-color: #ddd;
     border-radius: 10px;
     box-shadow: inset 0px 0px 5px white;
   }

body {
     --mainColor:#a1b1bb;
}

body, input, textarea {font-family: 'Pretendard-Regular', '나눔고딕', '맑은 고딕', 
     'Malgun Gothic', 'Apple SD Gothic Neo', 돋움, Dotum, sans-serif; }

.centerbox{width: 1043px; margin: 0 auto;}


  
 #visual {height: 46vw; max-height: 800px; background: url('../images/header.bg_02.png') center; 
     position: relative; overflow: hidden; /*animation: visual 10s forwards*/}
    /* @keyframes visual {
        0% {background-size: 100%;}
        100% {background-size: 150%;}
    } */
    
footer {height: 230px; background: #66552c;}
    
    
/*자세히보기 버튼*/
.btn_view{ background: #173464; font-size: 19px; padding: 0.9em 2.2em; 
     font-family: 'Pretendard-ExtraBold'; display: inline-block; position: relative; z-index: 2;
     overflow: hidden; cursor: pointer; margin-right: 10px;}



.btn_view:before{content: ""; position: absolute; width: 100%;height: 100%;background: #0c1e3b;
top: 0;left: -130%; transition: 0.2s; transform: skewX(30deg);}

.btn_view:hover:before{left: 0; transform: skewX(0deg);}

.btn_view:after{content:attr(data-btnName); position: absolute; top: 50%;left: 50%; 
     transform: translate(-50%,-50%); z-index: 2; color: #fff; white-space: nowrap;}

/*게시판버튼*/
.btn_view2{ background: #173464; font-size: 19px; padding: 0.9em 2.2em; 
     font-family: 'Pretendard-ExtraBold'; display: inline-block; position: relative; z-index: 2;
     overflow: hidden; cursor: pointer; margin-right: 10px;}

.color1{color: #fff;font-family: 'Pretendard-Light';background: #a5a0c4;}
.color2{color: #fff;font-family: 'Pretendard-Light';background: #9bbdb0;}
.color3{color: #fff;font-family: 'Pretendard-Light';background: #9bb0bd;}




/*라디오 버튼*/
.radio_sign {float: left;width: 20px;height: 20px;
          border: 1px solid rgb(45, 59, 139);border-radius: 50%;margin-right: 10px; position: relative;}
.radio_sign:after{content: "";position: absolute;
          width: 10px;height: 10px;border-radius: 50%;background: rgb(45, 59, 139);left: 5px;top: 5px; display: none;}

.radio_sign:before{display: none;}

input.radio_button{display: none;}
input.radio_button:checked ~ span.radio_sign:after{display: block;}
     




 
/*header*/
header{height: 200px; position: relative; z-index: 7; min-width: 1043px;}
header .top{width: 100%;height: 44px; }
header .top .lang{width: 150px;height: 44px;float: left; line-height: 44px;
text-indent: 30px; background: url(../images/eathh_07.png) left -45px no-repeat; transition: 0.3s;
position: relative;}
header .top .lang a{display: block;}
header .top .lang:hover{background-position: left 0px;}


header .top .lang .language{position: absolute; width: 100%;background: #fff;
     box-shadow: 0 0 15px rgba(0,0,0,0.1); display: none;font-family: 'Pretendard-Light';
z-index: 3;}
header .top .lang .language li:hover{background: #eee;}


/*login*/
header .top .login_box{height: 44px;float: right; font-size: 0; text-align: right;
     }
header .top  .login_box a{padding: 0 30px; line-height: 44px; 
display: inline-block; height: 44px; font-size: 16px;}

header .top  .login_box a.login{ background: url(../images/icons.png) no-repeat 0 -89px;}
header .top  .login_box a.login:hover{background-position: 0 -133px;}

header .top  .login_box a.join{ background: url(../images/mans_03.png) no-repeat 0 -2px;}
header .top  .login_box a.join:hover{background-position: 0 -46px;}

header .top  .login_box a.sitemap{background: url(../images/maps_04.png) no-repeat 0 0px;}
header .top  .login_box a.sitemap:hover{background-position: 0 -44px;}


/*logout*/
header .top  .logout_box{ display: none;}

header .top  .logout_box a.logout{ background: url(../images/icons2.png) no-repeat -212px -88px;}
header .top  .logout_box a.logout:hover{background-position: -212px -132px;}

header .top  .logout_box a.mypage{background: url(../images/icons2.png) no-repeat -212px -176px;}
header .top  .logout_box a.mypage:hover{background-position: -212px -220px;}




/*로고*/
header h1{width: 180px;height: 60px; position: absolute; left: 50%;
top: 44px;transform: translateX(-50%);}

header nav{height: 65px;margin-top: 91px;}

header nav.on{position: fixed; margin-top: 0;top: 0;z-index: 3; background: #fff;
left: 0;width: 100%; box-shadow: 0 10px 20px rgba(0, 0, 0,0.05);}
header nav.on .gnb{width: 1043px;margin: 0 auto;}



header nav .gnb{display: flex; height: 100%;justify-content: space-around;}
header nav .gnb li{ flex-grow: 1;  font-size: 20px; position: relative;font-family: 'Pretendard-Medium';}

header nav .gnb li:hover{background: #173464;}
header nav .gnb li:hover a{color: #fff;}


header nav .gnb li a{ display: flex; height: 100%;
justify-content: center; align-items: center; }

header nav .gnb .lnb{position: absolute; width: 100%; top: 65px; height: 216px;
    background: #173464; padding: 20px 0; display: none;}
/* header nav .gnb .lnb{position: absolute; width: 100%; top: 65px; background: #173464; padding: 20px 0;
     opacity: 0; visibility: hidden; transition: 0.2s;} */
/* header nav .gnb li:hover .lnb{display: block;} */

/* header nav .gnb:hover li .lnb{ opacity: 1;visibility: visible;} */

header nav .gnb li:first-child .lnb{border-radius: 0 0 0 20px;}
header nav .gnb li:last-child .lnb{border-radius: 0 0 20px 0;}

/*gnb>lnb*/
header nav .gnb .lnb li{font-size: 17px; height: 44px;line-height: 44px; text-align: left;}
header nav .gnb .lnb li:hover{background: #204178;}
header nav .gnb .lnb li a{color: #fff; display: block;text-indent: 45px;}

   
/*------------------------------------------------------------------------*/
  
/*sub page*/
#visual_sub{height: 302px; min-width: 1043px;
    background: url(../images/sub.bg_02.png); background-size: cover;
    position: relative; overflow: hidden;}
    
    #visual_sub:before{content: ""; position: absolute;width: 100%;height: 100%;
         background:linear-gradient(135deg,#04283f,#04283f);z-index: 1; opacity: 0.68;}
     
    
    #visual_sub .model{ position: absolute; left: 50%; top: 0; transform: translateX(-50%); 
    animation: model 3s forwards;}
    #visual_sub .model img{width: 100%;}
    
    @keyframes model{
         0%{top: -50px;}
         100%{top: 0;}
    }
    
    #visual_sub .text{margin-top: 100px; margin-left: 130px;
         position: relative; z-index: 2;}
    #visual_sub .text strong{ font-size: 40px; display: block; font-weight: bold;
        font-family: 'Pretendard-SemiBold';
         color: #fff;position: absolute; animation: subtext 1s forwards; opacity: 0;}
    #visual_sub .text p{ width: 180px;height: 28px; font-size: 17px;
         background: #5b6f94;color: #fff;display: inline-block; position: absolute;
    top: 49px; animation: subtext 1s forwards; animation-delay: 0.5s; left: 50px; opacity: 0;
    text-align: center; line-height: 26px; }
    
    @keyframes subtext {
         0%{left: 50px; opacity: 1;}
         100%{left: 0; opacity: 1;}
    }
    
    
    #visual_sub .text span{position: absolute; left: 400px; font-size: 30px; color: #fff;
         font-family: 'Pretendard-SemiBold'; top: 3px; }
    
    /*menu*/
    
    /*section_sub*/
    #section_sub{min-width: 1043px;}
    #section_sub .snb{background: #214964; border-bottom: 1px solid #ddd; 
    display: flex; justify-content: center;}
    #section_sub .snb li{ height: 55px;line-height: 55px;}
    #section_sub .snb li a{  display: block; padding: 0 20px;color: #fff;}
    #section_sub .snb li a span{ font-size: 18px;}
    
    #section_sub .snb_box{position: relative;max-width: 900px;
         margin: 22px auto;}
    .line{position: absolute; width: 57px;height: 2px;background: rgb(113, 113, 187); top: 36px;
         /* left: 213px;*/transition: 0.3s;pointer-events: none;}
    
         /* #section_sub .snb li.line{position: absolute; width: 57px;height: 2px;background: blue; top: 36px;
              left: 213px;transition: 0.3s; }
                    */
    /* #section_sub .snb li:nth-child(2):hover ~ .line{left: 312px; width: 70px;}
    #section_sub .snb li:nth-child(3):hover ~ .line{left: 425px; width: 70px;}
    #section_sub .snb li:nth-child(4):hover ~ .line{left: 539px; width: 43px;}
    #section_sub .snb li:nth-child(5):hover ~ .line{left: 625px; width: 60px;}
     */
    
    #content_box {padding-bottom: 150px;}
    #content_box .centerbox{width: 1100px;}
    

    
    #content_box .ex_box{text-align: center; margin: 25px 0 100px 0;}
    #content_box h2{width: 600px;height: 95px;line-height: 95px;margin: 0 auto;
    border-bottom: 1px solid #ddd; font-size: 36px;text-align: center; color: #0c3855;}
    #content_box .ex_box em{font-size: 32px;color: #48556a;font-style: normal;
    text-align: center; position: relative;}
    #content_box .ex_box em span{font-size: 50px;font-family: 'NanumBarunGothic', sans-serif;
    position: absolute; left: -30px; top: -5px;}
    #content_box .ex_box em span:nth-of-type(2){right: -30px; left: auto;}
    

    
    /*footer*/
    #footer{height: 280px; background: #0c3048; min-width: 1043px;}
    #footer .centerbox{ position: relative; top: 90px;}
    #footer .footerLogo{float: left; margin-top: 25px; }
    #footer .addWrap{font-weight: bold;font-size: 19px;  position: absolute;left: 320px;top: -10px; /* width: 1000px; */}
    #footer .addWrap a{ margin-bottom: 20px; color: #fff;font-family: 'Pretendard-Light';font-weight: 300; }
    #footer .addWrap address{margin-top: 20px;font-style: normal;color: #fff;font-family: 'Pretendard-Light'; line-height: 1.4;
     font-weight: 300;}
    #footer .addWrap address p{margin-top: 20px;font-style: normal;font-family: 'Pretendard-Light';font-weight: 300;} 
    
    